@charset "UTF-8";
/* CSS Document */

.__space { background-color: tomato; }
.__fw-space { background-color: #fff100; }
.__digit { background-color: violet; }
.__alpha { background-color: dodgerblue; }
.__brackets { background-color: mediumseagreen;}
.__punc { background-color: slateblue; }
.__fw-char { background-color: orange;}


body:not(.charcheck-done) .__c {
  background-color: transparent;
}

.__c.__c.__c.__c {
  display: inline;
}
.__c.__c.__c.__c::before,
.__c.__c.__c.__c::after {
  display: none;
}
