
p, dd {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.row {
  display: table-row
}
.cell {
  display: table-cell;
  border: 1px solid #d0d0d0;
  padding: 6px 8px;
}
.cell:nth-child(1) {
  width: 26em;
}
.cell:nth-child(2) {
  width: 5em;
}
.head {
  background-color: #eee;
}

.hd {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.text {
  color: #5f6368;
}
.upper-buttons {
  margin-top: 20px;
}
.message {
  height: 1.5em;
}
.buttons {
  padding: 10px 0;
}

.preferences {
  margin-top: 40px;
}
.pref-list {
  width: 100%;
  display: grid;
  grid-template-columns: 10em 1fr;
  grid-row-gap: 20px;
}
.plus-minus {
  border: 1px solid #878e9b;
  border-radius: 4px;
  background-color: transparent;
}
.plus-minus:active {
  background-color: #0074FE;
  color: #fff;
  border-color: #0074FE;
}

.op-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dadce0;
  border-radius: 4px;
  background-color: transparent;
  color: #1a73e8;
  padding: 8px 16px;
  cursor: pointer;
}
.op-button:hover {
  background-color: rgba(66, 133, 244, 0.04);
  border-color: #d2e3fc;
}
