
p, dd {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.row {
  display: table-row
}
.cell {
  display: table-cell;
  border: 1px solid #d0d0d0;
  padding: 6px 8px;
}
.head {
  background-color: #eee;
}

.message {
  height: 1.5em;
}
.buttons {
  padding: 10px 0;
}

.preferences {
  margin-top: 40px;
}
.pref-list {
  width: 100%;
  display: grid;
  grid-template-columns: 10em 1fr;
  grid-row-gap: 20px;
}
.pref-list dt {
}
.pref-list dd {
}

.plus-minus {
}
